extends layout

block content
	h1= title
	p
		| Millwright is a lightweight and easy to maintain ticket tracking system. For more information, or to submit
		| bugs or feature requests, please visit <a href="http://thelinell.com/Millwright/">the Millwright website.</a>